testing/
Testing/
dataset/
images/
training/
Training/
base_crop-20230107T225235Z-001/
segmentação/kmeans/
segmentação/niblack/
segmentação/otsu/
segmentação/ultrassound/
segmentação/Birch/
extrator_segunda_ordem/dataset
